@font-face {
    font-family: 'KnewaveRegular';
    src: url('fonts/knewave-webfont.eot');
    src: url('fonts/knewave-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/knewave-webfont.woff') format('woff'),
         url('fonts/knewave-webfont.ttf') format('truetype'),
         url('fonts/knewave-webfont.svg#KnewaveRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KnewaveOutlineRegular';
    src: url('fonts/knewave-outline-webfont.eot');
    src: url('fonts/knewave-outline-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/knewave-outline-webfont.woff') format('woff'),
         url('fonts/knewave-outline-webfont.ttf') format('truetype'),
         url('fonts/knewave-outline-webfont.svg#KnewaveOutlineRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body, main {
    /*height: 100%;*/
}

body{
    background-color: #f3f3f3;
    font-size: 1.3rem;
}
body, h1, h2, h3, h4, h5, h6{
    font-family: 'KnewaveRegular';
}
main{
    margin: 0px 0px 0px 0px;
}

.offline-card .header h1{
    font-family: 'KnewaveOutlineRegular';
    text-shadow: 2px 2px 1px #000;
}
.offline-card .header p{
    text-shadow: 2px 2px 1px #000;
}

body.offline{
    background: url('../images/background_01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.head_logo_link{
    margin-right: 40px;
    margin-top: 0px;
    text-decoration: none;
    color: #314152;
    font-size: 50px;
    text-shadow: #5cdb95 3px 3px 0px;
    word-spacing: -10px;
}
.head_logo_link img {
    width: 400px;
}

/* TODO: remove metismenu css */
.container-nav > ul.mod-menu,
.mod-menu_dropdown-metismenu {
    background-color: #314152;
    border: 1px solid #252525;
    border-radius: 16px;
    text-shadow: 0px 0px 1px #0a203d, 0px 0px 2px #0a203d !important;
    font-weight: bold;
}
.metismenu.mod-menu .mm-collapse {
    background-color: #314152;
    border: 1px solid #314152;
    border-radius: 12px;
    color: #fff !important;
}
.container-nav button {
    text-shadow: 0px 0px 1px #0a203d, 0px 0px 2px #0a203d !important;
    font-weight: bold;
}
.container-nav > ul.mod-menu > li > ul > li > a{
    color: #fff;
}
.container-nav ul.mod-menu > li.active a{
    color: #5cdb95;
}
.container-header .navbar-toggler {
    background-color: #314152;
}

.saa_menu{
    background-color: #314152;
    border: 1px solid #252525;
    border-radius: 30px;
    height: 60px;
    font-size: 20px;
    margin: 0;
    padding: 0px 10px;
}

.saa_menu > div {
    display: inline-block;
}
.saa_menu > div > a{
    color: #fff;
    padding: 15px;
    margin: 0;
    display: inline-block;
}
.saa_menu > div.active > a{
    color: #5cdb95;
}

.hero_wide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px 0px 0px 0px;
    height: 400px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    margin-top: -83px;
}
.top_auto .mod-custom {
    height: 100%;
    margin-bottom: 50px;
}
.top_auto .mod-custom a.btn {
    left: 0px;
    bottom: 0px;
    position: absolute;
}

.news > div {
    padding-bottom: 10px;
}

.sidebars{
    float: right;
    clear: both;

}
.sidebar > .sidebar {
    margin: 20px 0px 10px 0px;
    border: #5cdb95 4px solid;
    padding: 10px 20px;
    border-radius: 5px;
}
.sidebar ul {
    margin-bottom: 0;
}


.item-page,
.com-content-category,
com-content-article {
    margin-bottom: 50px;
}
footer {
    border-top: #5cdb95 1px solid;
    background-color: #314152 !important;
}
footer a{
    text-decoration: none !important;
}
footer a:hover{
    border-bottom: #5cdb95 2px solid;
}
.footer .grid-child {
    padding: 0.5rem 0.5em;
}
.footer_left{
    text-align: left;
    font-size: 1.1rem;
}
.footer_right{
    text-align: right;
    font-size: 1.1rem;
}
.footer_middle{
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
}
/* utility bits */
.rfloat, 
.pull-right{
    float: right;
    clear: both;
}
.lfloat,
.pull-left{
    float: left;
    clear: both;
}
.btn-primary {
    background-color: #314152;
    border-color: #314152;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:focus, 
.btn-primary.active:focus{
    background-color: #5cdb95;
}

.noshow,
.saa_edit_screen #publishing,
.saa_edit_screen .editor-xtd-buttons,
.saa_edit_screen .toggle-editor {
    display: none;
}
.article_field .control-group{
    margin-top: 0;
}
.article_field p{
    margin-bottom: 0;
}
.llhidden{
    width: 0;
    margin: 0;
    padding: 0;
    border: 0;
    height: 0;
}

/* gallery */
.gallery{
    text-align: justify;
}
.gallery img {
    max-height: 200px;
    margin: 10px;
}

/* map */
.saa_map_screen .custom-map-control-button {
    top: auto !important;
    left: 10px !important;
    bottom: 50px !important;
}
.saa_map_screen .you_are_here{
    padding: 5px;
}
.edit .custom-map-control-button{
    top: 10px !important;
}
/*
.saa_map_screen .gmnoprint {
    top: 150px !important;
}
.saa_map_screen .gmnoprint button {
    background-color: #314152 !important;
    color: #fff !important;
}
.saa_map_screen .gmnoprint button [aria-checked='true']  {
    background-color: #f00 !important;
}
.saa_map_screen .gmnoprint button [aria-checked='false']  {
    background-color: #0f0 !important;
}
*/
.options-form, 
.options-form > legend {
    background-color: transparent !important;
}
.options-form {
    border: 0;
}
fieldset > .control-group,
fieldset > .article_field,
fieldset > .edit_button_box{
    padding-left: 2vw;
    padding-right: 2vw;
}
.edit_button_box{
    padding-bottom: 50px;
}

/* menu, only on small screens */
@media (max-width: 767.98px) {
    .head_logo_link{
        margin: 0;
        font-size: 40px;
        width: 200px;
        line-height: 40px;
    }
    .footer_right,
    .footer_left{
        text-align: center;
    }
    .mod-footer{
        display: none;
    }
}

/* Map screen syles */
#saa-map{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    height: 100%;
}
.gm-style .gm-style-iw-c {
    padding: 0px;
    box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);
    border: 1px solid #fff;
}

/* field views */
.field-entry {
    margin-bottom: 25px;
}

/* item view */
.icons {
    background-color: #314152;
    border: 1px solid #252525;
    border-radius: 30px;
    height: 60px;
    font-size: 20px;
    margin: 0;
    padding: 0px 10px;
    float: right;
    color: #fff;
}
.icons a{
    color: #fff;
    padding: 15px;
    margin: 0;
    display: inline-block;
    text-decoration: none;
}
.field-entry > .field-label {
    width: 30%;
    display: inline-block;
}
.field-entry > .field-value {
    display: inline-block;
}
.fields-container .photo .field-value {
    text-align: center;
}
.fields-container .photo .field-value,
.fields-container .location .field-value {
    width: 100%;
}

/* edit view */
.choices__item {
    color: #22262a !important;
}


/* tag view */
.com-tags-tag h1 {
    margin-left: 20px;
}

/* contact form */
.simplecontactform {
    margin-bottom: 50px;
}
.simplecontactform div {
    padding-bottom: 10px;
}
.simplecontactform label {
    width: 30%;
    vertical-align: top;
}
.simplecontactform input,
.simplecontactform textarea {
    width: 60%;
}
.simplecontactform .send_box{
    text-align: center;
}
.simplecontactform .send_box input{
    width: 30%;
}

/* Map screen syles, only on small screens */
@media (max-width: 767.98px) {
    .gallery img {
        margin: 5px 0px;
        max-height: 70px;
    }
    .saa_menu, .icons {
        border-radius: 25px;
        height: 50px;
    }
    .saa_menu > div > a,
    .icons a {
        padding: 10px;
    } 
    .sidebars {
        width: 40%;
    }
    .sidebar > .sidebar {
        margin-left: 5px;
        padding: 5px 10px;
        border-radius: 5px;
    }
}